
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Open+Sans&display=swap");

h1 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

h3 {
  text-align: center;
  margin-top: 20px;
  font-family: "Merriweather", serif;
}

/*(landscape phones, 576px and up)*/
@media (min-width: 320px) {
  h1,
  h3 {
    text-align: center;
    margin-top: 20px;
    font-family: "Merriweather", serif;
    font-weight: bold;
  }
  .card-body {
    margin-top: -80px;
  }
  .card {
    height: 122px;
    width: 124px;
    border: 0;
  }
  .card-body h5 {
    color: #5b1f00;
  }
  .card img {
    border-radius: 10px;
  }

  .textoBienvenida {
    text-align: justify;
  }
  .card-title {
    font-size: 14px;
    text-align: center;
  }

  .group-form span {
    margin-left: -35px;
  }
  .group-form textarea {
    width: 200px;
  }
  .collage{
    height: 500px;
  }
}

@media (min-width: 375px) {
  h1,
  h3 {
    text-align: center;
    margin-top: 20px;
  }
  .card {
    height: 155px;
    width: 151px;
    margin: auto;
  }
  .card-title {
    font-size: 20px;
    text-align: center;
  }
  .group-form textarea {
    width: 240px;
  }
  .group-form input {
    width: 240px;
  }
}

@media (min-width: 425px) {
  .card {
    height: 170px;
    width: 170px;
    margin: auto;
  }
  .card-title {
    font-size: 24px;
    text-align: center;
  }

  .group-form textarea {
    width: 280px;
  }
  .group-form input {
    width: 280px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 20px;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {
  h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 30px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 30px;
  }
}

.bg-cover {
  background-size: cover !important;
}
body {
  min-height: 100vh;
}
.Artista {
  height: 600px;
  position: relative;
  padding: 0px;
  padding-top: 50px;

}
h1.slogan {
  text-align: center;
  background-color: #b44b19;
  font-weight: 100;
  margin: 0;
  padding: 5px;
}
.detalleA {
  background-size:cover;
  width: 100px;
  height: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/imageartista.jpg);
  

}
.frase{
  background-color: rgba(0, 0, 0, .5);
  height: 100px;
  width: 500px;
  position: absolute;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  

}
.imgncarrusel {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}



@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Open+Sans&display=swap");

@media (min-width: 280px) {
  .txt-info {
    color: black;
  }

  .header {
    color: #2a2f33;
    font-size: 27px;
    padding: 10px;
    font-family: "Merriweather", serif;
    font-weight: bold;
  }

  .details {
    text-align: center;
    text-align: start;
    background-color: #182435;
  }

  .logo {
    height: 50px;
  }

  .navbar {
    background-color: #5b1f00;
  }

  .navbar-brand {
    height: 30px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #5b1f00;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    color: #5b1f00;
  }

  .btn-outline-success {
    color: #36a0ff;
    border-color: #36a0ff;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(54,160,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-light .navbar-toggler {
    border-color: rgb(54, 160, 255);
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .logo {
    height: 100px;
  }
}

@media (min-width: 320px) {
  .txt-info {
    color: black;
  }
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }

  .details {
    text-align: center;
    text-align: start;
    background-color: #182435;
  }

  .logo {
    height: 60px;
  }

  .navbar {
    background-color: #182435;
    position: fixed;
    top: 0;
    width: 100%; /* Full width */
  }

  .navbar-brand {
    height: 50px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
    color: white;
  }

  .btn-outline-success {
    color: #36a0ff;
    border-color: #36a0ff;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(54,160,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-light .navbar-toggler {
    border-color: rgb(54, 160, 255);
  }
}

@media (min-width: 540px) {
  .txt-info {
    color: black;
  }

  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }

  .details {
    text-align: center;
    text-align: start;
    background-color: #182435;
  }

  .logo {
    height: 50px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .txt-info {
    color: blue;
  }
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }
  .group-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {
  .txt-info {
    color: green;
  }
  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }
  .group-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .txt-info {
    color: black;
  }

  .header {
    color: #36a0ff;
    font-size: 27px;
    padding: 10px;
  }

  .group-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px;
  }

  .btn-primary {
    background-color: #36a0ff;
    border-color: #36a0ff;
  }

  .logo {
    height: 100px;
  }

  .form {
    columns: 3;
  }
}

body {
  background-color: rgb(237, 239, 253);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

/*Estilos del slider*/
#mixedSlider {
  position: relative;
}
#mixedSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlider .MS-content .item {
  display: inline-block;
  width: 33.3333%;
  position: relative;
  vertical-align:top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
@media (max-width: 991px) {
  #mixedSlider .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-content .item {
    width: 100%;
  }
}
#mixedSlider .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlider .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  font-style: italic;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
  padding: 0 0 2px 10px;
}
#mixedSlider .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
#mixedSlider .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
  text-align: center;
}
#mixedSlider .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlider .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 250px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlider .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #mixedSlider .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlider .MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlider .MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  #mixedSlider .MS-controls .MS-right {
    right: -10px;
  }
}
#basicSlider { position: relative; }

#basicSlider .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 2%;
  height: 50px;
}

#basicSlider .MS-content .item {
  display: inline-block;
  width: 20%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  line-height: 50px;
  vertical-align: middle;
}
@media (max-width: 991px) {

#basicSlider .MS-content .item { width: 25%; }
}
@media (max-width: 767px) {

#basicSlider .MS-content .item { width: 35%; }
}
@media (max-width: 500px) {

#basicSlider .MS-content .item { width: 50%; }
}

#basicSlider .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlider .MS-controls button { position: absolute; }

#basicSlider .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlider .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}
/*Termina Estilos del slider*/

/***************************************************************************************/
.vermas {
  border-radius: 100px;
  height: 80px;
  width: 200px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 20px;
  background-color: #62327d;
  margin: 15px;
}
.btn{
  background-color: #62327d;
  border-color: #62327d;
}

body {
  min-height: 100vh;
}


.bg-cover {
  background-size: cover !important;
}



/* Carousel base class espacio entre la base y el contenido*/
.carousel {
  margin-bottom: 0rem; 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 25rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 320px) {
  p.lead{
    font-size: 15px;
    text-align: justify;
  }
  h1{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
  .perfil{
    height: 150px;
    
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 1024px) {
h1{
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}
.perfil{
  height: 150px;
  
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 30px;
  }
  .perfil{
    height: 150px;
    
  }
  

}


.card2-body {
  margin: 10px;
}
body {
  font-family: "Muli", sans-serif;
}
.shell {
  padding: 80px 0;
}
.wsk-cp-product {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  margin: 20px auto;
}
.wsk-cp-img {
  position: relative;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  object-fit: cover;
  height: 300px;
}
.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}
.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.wsk-cp-text {
  padding-top: 5px;
}
.wsk-cp-text .category {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 45px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
}
.wsk-cp-text .category > span {
  padding: 12px 30px;
  border: 1px solid #313131;
  background: #212121;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 27px;
  transition: all 0.05s ease-in-out;
}
.wsk-cp-product:hover .wsk-cp-text .category > span {
  border-color: #ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category {
  margin-top: 0px;
}
.wsk-cp-text .title-product {
  text-align: center;
}
.wsk-cp-text .title-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.wsk-cp-text .description-prod p {
  margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align: center;
  width: 100%;
  height: 62px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}
.card-footer {
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after,
.card-footer:before {
  content: "";
  display: table;
}
.card-footer:after {
  clear: both;
}

.card-footer .wcf-left {
  float: left;
}

.card-footer .wcf-right {
  float: right;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

a.buy-btn {
  display: block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover,
a.buy-btn:active,
a.buy-btn:focus {
  border-color: #ff9800;
  background: #ff9800;
  color: #fff;
  text-decoration: none;
}
.wsk-btn {
  display: inline-block;
  color: #212121;
  text-align: center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #ff9800;
  background: #ff9800;
  padding: 12px 30px;
  border-radius: 27px;
  margin: 0 5px;
}
.wsk-btn:hover,
.wsk-btn:focus,
.wsk-btn:active {
  text-decoration: none;
  color: #fff;
}
.red {
  color: #f44336;
  font-size: 22px;
  display: inline-block;
  margin: 0 5px;
}
@media screen and (max-width: 991px) {
  .wsk-cp-product {
    margin: 40px auto;
  }
  .wsk-cp-product .wsk-cp-img {
    top: -40px;
  }
  .wsk-cp-product .wsk-cp-img img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  .wsk-cp-product .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
  }
  .wsk-cp-product .wsk-cp-text .category {
    margin-top: 0px;
  }
  a.buy-btn {
    border-color: #ff9800;
    background: #ff9800;
    color: #fff;
  }
}

/*inicio de prueba*/
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1000px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width: auto;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -100px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  width: 80px;
  top: 0;
  font-weight: bold;
  background-color: rgb(160, 160, 160);
  border-radius: 30px;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;

  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*celular */
@media (min-width: 320px) {
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
  }
}

@media (min-width: 375px) {
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
}